plugins {
    id 'java'
    id 'org.springframework.boot' version '{{bootVersion}}'
    id 'io.spring.dependency-management' version '1.1.7'
}

group = '{{groupId}}'
version = '{{projectVersion}}'

java {
    toolchain {
        languageVersion = JavaLanguageVersion.of({{javaVersion}})
    }
}

repositories {
    mavenCentral()
}

dependencies {
    implementation 'org.springframework.boot:spring-boot-starter-web'
    implementation 'org.springframework.boot:spring-boot-starter-security'
    implementation 'org.springframework.boot:spring-boot-starter-actuator'

    // Exemplos opcionais:
    // implementation 'org.springframework.boot:spring-boot-starter-data-jpa'
    // implementation 'org.springframework.boot:spring-boot-starter-validation'
    // implementation 'org.springframework.boot:spring-boot-starter-oauth2-resource-server'

    testImplementation 'org.springframework.boot:spring-boot-starter-test'
}

tasks.named('test') {
    useJUnitPlatform()
}
